.nav-link {
    color: white;
}

.nav-link:hover {
    background-color: grey;
    color: white;
}

.nav-link .fa {
    transition: all 1s;
}

.nav-link:hover .fa {
    transform: rotate(360deg);
    
}

.activo {
    background-color: grey;
}

.col-izq {
    background-color: rgb(84, 85, 85);
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.perfil {
    background-image: url("../img/fondo.jpg");
}

hr {
    color: white;
}
